<div>
    <nav class="nav">
        <div class="nav-name">
            <img [src]="logo" alt="logo" class="logo">
            <div>
                <h1 class="nameweb1">Dormitory</h1>
                <h1 class="nameweb2">Web</h1>
            </div>
        </div>
        <div class="nav-profile">
            <img [src]="profile" alt="profile" class="profile">
            <p>{{userInfo.firstName}} {{userInfo.lastName}}</p>
            <div class="dropdown">
                <button class="dropbtn">V</button>
                <div class="dropdown-content">
                    <a href="/setting"><img [src]="dropdown1" alt="Settings Icon" style="width: 20px; height: auto;">
                        ตั้งค่า</a>
                    <a href="/submitdocuments"><img [src]="dropdown2" alt="Send Document Icon"
                            style="width: 20px; height: auto;"> ส่งเอกสาร</a>
                    <a href="/documenttracking"><img [src]="dropdown3" alt="Track Document Icon"
                            style="width: 20px; height: auto;">ติดตามเอกสาร</a>
                    <a href="#" (click)="logout()"><img [src]="dropdown4" alt="Logout Icon"
                            style="width: 20px; height: auto;"> ออกจากระบบ</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <aside class="sidebar">

            <div class="user-info">
                <div class="user-icon"></div>
                <div class="user-name">User</div>
            </div>
            <ul class="menu">
                <li><a href="/home">หน้าหลัก</a></li>
                <li><a href="/submitdocuments">ส่งเอกสาร</a></li>
                <li><a href="/documenttracking">ติดตามเอกสาร</a></li>
                <li><a href="#">ศูนย์ช่วยเหลือ</a></li>
                <li><a href="#">ติดต่อเรา</a></li>
                <li><a href="/setting">ตั้งค่า</a></li>
                <li><a href="#" (click)="logout()">ออกจากระบบ</a></li>
            </ul>
        </aside>

        <main class="content">
            <div class="table-header">
                <h2 style="margin-right: 10px;">ข้อมูลเอกสาร</h2>
                <button class="upload-btn">+Upload</button>
            </div>
            <div class="document-table">

                <div class="table-controls">
                    <label>Show
                        <select>

                            <option value="">all</option>
                        </select> entries
                    </label>
                    <label class="search-label">
                        Search:
                        <input type="text" class="search-input">
                    </label>
                </div>
                <div class="table-wrapper">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>รหัส</th>
                                <th>ชื่อเอกสาร</th>
                                <th>ประเภทเอกสาร</th>
                                <th>วันที่อัพโหลด</th>
                                <th>ตรวจสอบ</th>
                                <th></th>
                                <th *ngIf="usertype === 'admin'"></th>
                                <th *ngIf="usertype === 'admin'"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let document of documents">
                                <td>{{ document.id }}</td>
                                <td>{{ document.documentTitle }}</td>
                                <td (click)="downloadFile(document.id)"
                                    style="cursor: pointer; color: blue; text-decoration: underline;">
                                    {{document.typefile}}
                                </td>
                                <td>{{document.uploadDate}}</td>
                                <td><span [class]="document.statusClass">{{document.status}}</span></td>
                                <td>
                                    <span [class]="document.statusClass"></span>
                                    <button class="upload-btn-small" (click)="gotosubmitdocuments()">+Upload</button>
                                </td>
                                <td *ngIf="usertype === 'admin'">
                                    <span [class]="document.statusClass" ></span>
                                    <button class="upload-btn-edit" (click)="editStatus(document.id)">แก้ไข</button>
                                </td>
                                <td *ngIf="usertype === 'admin'">
                                    <span [class]="document.statusClass" ></span>
                                    <button class="upload-btn-delete" (click)="delete(document.id)">ลบ</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>