<nav class="nav">
    <div class="nav-name">
        <img src="assets/img/logoimage.png" alt="logo" class="logo">
        <div (click)="gotohome()">
            <h1 class="nameweb1">Dormitory</h1>
            <h1 class="nameweb2">Web</h1>
        </div>
    </div>
    <div class="nav-profile">
        <img src="assets/img/profileimage.png" alt="profile" class="profile">
        <p>{{userInfo.firstName}} {{userInfo.lastName}}</p>
        <p style="padding-right: 5px;"></p>
        <div class="dropdown">
            <button class="dropbtn"
                style="background-color: rgba(255, 255, 255, 0); border: none; color: white;">V</button>
            <div class="dropdown-content">
                <a href="/setting"><img src="assets/img/navdow/settingimage.png" alt="Settings Icon"
                        style="width: 20px; height: auto;">
                    ตั้งค่า</a>
                <a href="/documenttracking"><img src="assets/img/navdow/followimage.png" alt="Track Document Icon"
                        style="width: 20px; height: auto;">ติดตามเอกสาร</a>
                <a href="#" (click)="logout()"><img src="assets/img/navdow/logoutimage.png" alt="Logout Icon"
                        style="width: 20px; height: auto;"> ออกจากระบบ</a>
            </div>
        </div>
    </div>
</nav>
<div class="upload-imge">
    <div class="fix-imge">
        <div class="bk-imge" onclick="document.getElementById('file-input1').click()" style="cursor: pointer;">
            <img [src]="images[0] || iconimg" alt="profile1" class="image-dorm">
            <input type="file" id="file-input1" class="file-input" style="display: none;"
                (change)="onFileSelected($event, 0)" accept="image/*" />
        </div>
        <div class="bk-imge" onclick="document.getElementById('file-input2').click()" style="cursor: pointer;">
            <img [src]="images[1] || iconimg" alt="profile2" class="image-dorm">
            <input type="file" id="file-input2" class="file-input" style="display: none;"
                (change)="onFileSelected($event, 1)" accept="image/*" />
        </div>
        <div class="bk-imge" onclick="document.getElementById('file-input3').click()" style="cursor: pointer;">
            <img [src]="images[2] || iconimg" alt="profile3" class="image-dorm">
            <input type="file" id="file-input3" class="file-input" style="display: none;"
                (change)="onFileSelected($event, 2)" accept="image/*" />
        </div>
        <div class="bk-imge" onclick="document.getElementById('file-input4').click()" style="cursor: pointer;">
            <img [src]="images[3] || iconimg" alt="profile4" class="image-dorm">
            <input type="file" id="file-input4" class="file-input" style="display: none;"
                (change)="onFileSelected($event, 3)" accept="image/*" />
        </div>
    </div>
</div>

<form [formGroup]="dormitoryForm" (ngSubmit)="saveDormitory()">
    <div class="label-input">
        <div class="set-icon">
            <img src="assets/img/logoimage.png" alt="room-info" class="room-info">
            <label for="room-info"><strong>ชื่อหอพัก</strong></label><br>
            <textarea id="room-info" rows="4" cols="50" placeholder="" class="room-info"
                formControlName="name"></textarea>
        </div>
        <div class="set-icon">
            <img src="assets/img/logoimage.png" alt="room-info" class="room-info">
            <label for="room-info"><strong>ชื่อบริษัท</strong></label><br>
            <textarea id="room-info" rows="4" cols="50" placeholder="" class="room-info"
                formControlName="companyname"></textarea>
        </div>
        <div class="set-icon">
            <img src="assets/img/logoimage.png" alt="subdistrict-info" class="subdistrict-info">
            <label for="subdistrict"><strong>ตำบล</strong></label><br>
            <textarea id="subdistrict" placeholder="" class="subdistrict" formControlName="subDistrict"></textarea>
        </div>
        <div class="set-icon">
            <img src="assets/img/logoimage.png" alt="district-info" class="district-info">
            <label for="district"><strong>อำเภอ</strong></label><br>
            <textarea id="district" placeholder="" class="district" formControlName="district"></textarea>
        </div>
        <div class="set-icon">
            <img src="assets/img/logoimage.png" alt="room-info" class="room-info">
            <label for="room-info"><strong>จังหวัด</strong></label><br>
            <select class="district" formControlName="province" >
                <option value="">เลือกจังหวัด</option>
                <option value="กระบี่">กระบี่</option>
                <option value="กรุงเทพฯ">กรุงเทพฯ</option>
                <option value="กาญจนบุรี">กาญจนบุรี</option>
                <option value="กาฬสินธุ์">กาฬสินธุ์</option>
                <option value="กำแพงเพชร">กำแพงเพชร</option>
                <option value="ขอนแก่น">ขอนแก่น</option>
                <option value="จันทบุรี">จันทบุรี</option>
                <option value="ฉะเชิงเทรา">ฉะเชิงเทรา</option>
                <option value="ชลบุรี">ชลบุรี</option>
                <option value="ชัยนาท">ชัยนาท</option>
                <option value="ชัยภูมิ">ชัยภูมิ</option>
                <option value="ชุมพร">ชุมพร</option>
                <option value="เชียงราย">เชียงราย</option>
                <option value="เชียงใหม่">เชียงใหม่</option>
                <option value="ตรัง">ตรัง</option>
                <option value="ตราด">ตราด</option>
                <option value="ตาก">ตาก</option>
                <option value="นครนายก">นครนายก</option>
                <option value="นครปฐม">นครปฐม</option>
                <option value="นครพนม">นครพนม</option>
                <option value="นครราชสีมา">นครราชสีมา</option>
                <option value="นครศรีธรรมราช">นครศรีธรรมราช</option>
                <option value="นครสวรรค์">นครสวรรค์</option>
                <option value="นนทบุรี">นนทบุรี</option>
                <option value="นราธิวาส">นราธิวาส</option>
                <option value="น่าน">น่าน</option>
                <option value="บึงกาฬ">บึงกาฬ</option>
                <option value="บุรีรัมย์">บุรีรัมย์</option>
                <option value="ปทุมธานี">ปทุมธานี</option>
                <option value="ประจวบคีรีขันธ์">ประจวบคีรีขันธ์</option>
                <option value="ปราจีนบุรี">ปราจีนบุรี</option>
                <option value="ปัตตานี">ปัตตานี</option>
                <option value="พระนครศรีอยุธยา">พระนครศรีอยุธยา</option>
                <option value="พะเยา">พะเยา</option>
                <option value="พังงา">พังงา</option>
                <option value="พัทลุง">พัทลุง</option>
                <option value="พิจิตร">พิจิตร</option>
                <option value="พิษณุโลก">พิษณุโลก</option>
                <option value="เพชรบุรี">เพชรบุรี</option>
                <option value="เพชรบูรณ์">เพชรบูรณ์</option>
                <option value="แพร่">แพร่</option>
                <option value="ภูเก็ต">ภูเก็ต</option>
                <option value="มหาสารคาม">มหาสารคาม</option>
                <option value="มุกดาหาร">มุกดาหาร</option>
                <option value="แม่ฮ่องสอน">แม่ฮ่องสอน</option>
                <option value="ยโสธร">ยโสธร</option>
                <option value="ยะลา">ยะลา</option>
                <option value="ร้อยเอ็ด">ร้อยเอ็ด</option>
                <option value="ระนอง">ระนอง</option>
                <option value="ระยอง">ระยอง</option>
                <option value="ราชบุรี">ราชบุรี</option>
                <option value="ลพบุรี">ลพบุรี</option>
                <option value="ลำปาง">ลำปาง</option>
                <option value="ลำพูน">ลำพูน</option>
                <option value="เลย">เลย</option>
                <option value="ศรีสะเกษ">ศรีสะเกษ</option>
                <option value="สกลนคร">สกลนคร</option>
                <option value="สงขลา">สงขลา</option>
                <option value="สตูล">สตูล</option>
                <option value="สมุทรปราการ">สมุทรปราการ</option>
                <option value="สมุทรสงคราม">สมุทรสงคราม</option>
                <option value="สมุทรสาคร">สมุทรสาคร</option>
                <option value="สระแก้ว">สระแก้ว</option>
                <option value="สระบุรี">สระบุรี</option>
                <option value="สิงห์บุรี">สิงห์บุรี</option>
                <option value="สุโขทัย">สุโขทัย</option>
                <option value="สุพรรณบุรี">สุพรรณบุรี</option>
                <option value="สุราษฎร์ธานี">สุราษฎร์ธานี</option>
                <option value="สุรินทร์">สุรินทร์</option>
                <option value="หนองคาย">หนองคาย</option>
                <option value="หนองบัวลำภู">หนองบัวลำภู</option>
                <option value="อ่างทอง">อ่างทอง</option>
                <option value="อำนาจเจริญ">อำนาจเจริญ</option>
                <option value="อุดรธานี">อุดรธานี</option>
                <option value="อุตรดิตถ์">อุตรดิตถ์</option>
                <option value="อุทัยธานี">อุทัยธานี</option>
                <option value="อุบลราชธานี">อุบลราชธานี</option>
            </select>
        </div>
        <div class="set-icon">
            <img src="assets/img/logoimage.png" alt="price-info" class="price-info">
            <label for="price"><strong>ราคา</strong></label><br>
            <textarea id="price" placeholder="" class="price" formControlName="price"></textarea>
        </div>
        <div class="set-icon">
            <img src="assets/img/logoimage.png" alt="detaildormitory" class="detaildormitory">
            <label for="detaildormitory"><strong>รายละเอียดหอพัก</strong></label><br>
            <textarea id="detaildormitory" rows="4" cols="50" placeholder="" formControlName="description"></textarea>
        </div>
        <div class="set-icon">
            <img src="assets/img/farmigerimage.png" alt="furniture-info" class="furniture-info">
            <label for="furniture-info"><strong>เฟอร์นิเจอร์</strong></label><br>
            <textarea id="furniture-info" rows="4" cols="50" placeholder="" formControlName="furniture"></textarea>
        </div>
        <div class="set-icon">
            <img src="assets/img/contackimage.png" alt="contact-info" class="contact-info">
            <label for="contact-info"><strong>ช่องทางติดต่อ</strong></label><br>
            <textarea id="contact-info" rows="4" cols="50" placeholder="" formControlName="contact"></textarea>
        </div>
        <div class="footer-btn">
            <div>
                <button type="submit" class="btn-secondary">บันทึก</button>
                <button type="button" class="btn-warning" (click)="gotodormitory()">จองหอพัก</button>
            </div>
        </div>
    </div>
</form>

<div class="footer" style="bottom: 0px;">
    <div class="footer-content">
        <p>Copyright © 2024 Dormitory. All rights reserved</p>
    </div>
</div>