<div class="header">
    <div class="head-web">
        <img src="{{logo}}" alt="logo" class="logo">
        <div class="nameweb-container">
            <h1 class="nameweb">Dormitory</h1>
            <h1 class="nameweb2">Web</h1>
        </div>
    </div>
        
    <img src="{{header}}" alt="Header Image" class="header-image">

    <div class="search-bar">
        <h1>เราคัดสรรหอพักที่ดีเพื่อความสุขสบายของคุณ</h1>
        <input class="input1" type="text" placeholder="อำเภอ/จังหวัด">
        
        <input class="input3" type="text" placeholder="ค้นหาหอพัก...">
        <button>ค้นหา</button>
    </div>
</div>
<div class="content">
    <div class="card-container">
        <div class="card">

        </div>
    </div>
</div>
<div class="footer">
    <img src="{{footerimage}}" alt="Footer Image" class="footer-image">
</div>
