<nav class="nav">
    <img src="{{logo}}" alt="logo" class="logo">
    <div>
        <h1 class="nameweb1">Dormitory</h1>
        <h1 class="nameweb2">Web</h1>
    </div>
</nav>

<div class="header">
    <img src="{{mainimg}}" alt="logo" class="logo">
</div>

<div class="container">
    <div class="search-bar">
        <label for="location">ชื่อเมือง สถานที่ หรือหอพัก</label><br>
        <input class="location" type="text" placeholder="ชื่อเมือง สถานที่ หรือหอพัก">
    </div><br>
    <div class="line">
        <div class="search-bar1">
            <label for="dateopen">วันที่เข้าพัก</label><br>
            <input class="dateopen" type="date">
        </div>
        <div class="search-bar2">
            <label for="วันที่เข้าพัก">ผู้เข้าพักและห้อง</label><br>
            <input class="preple" type="text" placeholder="ผู้เข้าพักและห้อง">
        </div>
    </div>
    <button class="search">ค้นหาหอพัก</button>


</div>